<<<<<<< HEAD
=======
/*Search bar*/
>>>>>>> 874dfd5c98b69cf6e1be17aea003f17c6dce4549
.container-fluid{
    
    height: -webkit-fill-available;
   
}

.body {
    background-color: antiquewhite;
}
.search {
    width: 100%;
    position: relative;
    
  }
  
  .searchTerm {
    float: initial;
    width: 100%;
    border: 3px solid #00B4CC;
    padding: 5px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    position: absolute;  
    right: -25px;
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 

.container-field {
    height: -webkit-fill-available;
}