<div class="container-fluid " style="background-color: #00B4CC; ">
data : {{event._body}}
  <div class="flex-column">
  
      <div class="row"> 
       
      <div class="col-3"> Employee Id:</div>
      
      <div class="col-4 "> {{event._body.employeeid}}</div></div>
   
      <div class="row"><div class="col-3">Employee Name: </div>
      <div class="col-4 ">{{event.employeename}}</div></div>
    
      <div class="row"><div class="col-3">Location: </div>
      <div class="col-4 ">{{event.employeelocation}}</div></div>
  
      <div class="row"> <div class="col-3">Designation: </div>
      <div class="col-4">{{event.designation}}</div></div>
      <div class="row"> <div class="col-3">Contact Number: </div>
      <div class="col-4">{{event.contactnumber}}</div></div>
      <div class="row"> <div class="col-3">Department: </div>
      <div class="col-4">{{event.department}}</div></div> 
</div></div>
